@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hendycroft Signature';
  src: url('/fonts/Hendycroft Signature.woff');
}

@font-face {
  font-family: 'B Davat';
  src: url('/fonts/BDavat');
}

* {
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.scrollbar-none {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}